*{
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

nav{
	background: green;
	color:  white;
	font-family: Arial, san-serif;
	max-width: 100%;
	height: 50px;
	padding: 10px 20px;
}
nav a {
	text-decoration: none;
	font-size: 16px;
	margin-right: 10px;
	text-align: right;
	color: white;
}

nav a:hover{
	cursor: pointer;
	animation:ease-out
	transition: 18px ;
}
footer{
	height: 200px;
	color: white;
	background: green;
	float: bottom;
}

