<!-- templates/home.html -->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
	<span>FS</span>
	<h1>Welcome to FarmSmart </h1>
	<p>FarmSmart is a digital home for farmers to have knowledge on what the current market stocks says about agricultural produces. </p>
	<h3>Features of FarmSmart: </h3>
	<ul>
		<li> Information on farming tips for better farm product </li>
		<li> Information on current crop and livestock price in the market </li>
		<li> Information on weather forecast for farmer to stategize when and what to farm in a specific climate condition </li>
	</ul>



{% endblock %}
