<!-- templates/home.html -->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
	
	<h1 class="h1_header">Welcome to FarmSmart </h1>
	<div class="container_home">
	<p>FarmSmart is your comprehensive digital source for farmers, offering real-time insights into market trends and agricultural products. stay informed and make better decisions with the latest updates directly at your fingertips. </p>
	<h3>Key Features of FarmSmart: </h3>
	<ul>
		<li> Expert farming tips to enhance your agricultural productivity. </li>
		<li> Current market prices for crops and livestock, helping you make informed trading decisions. </li>
		<li> Accurate weather forecasts to help you plan your farming activities according to climate conditions. </li>
	</ul>
	</div>



{% endblock %}
